<!DOCTYPE html>
<html>
   <head>
      <title>Search Lecturer</title>
      <style>
         .back-button {
         position: fixed;
         top: 20px;
         right: 20px;
         background-color: #333;
         color: #fff;
         padding: 10px 20px;
         border-radius: 5px;
         cursor: pointer;}
         table {
         border-collapse: collapse;
         width: 100%;
         }
         th, td {
         text-align: left;
         padding: 8px;
         }
         tr:nth-child(even) {
         background-color: #f2f2f2;
         }
         th {
         background-color: #4CAF50;
         color: white;
         }
         .alert {
         border: 1px solid transparent;
         border-radius: 4px;
         font-size: 16px;
         position: fixed;
         }
      </style>
   </head>
   <body>
      <div style="height: 200px; background-color: aquamarine;">
         <div style="float:left;width: 90%;">
            <h1>Search Lecturer</h1>
            <form action="/search_lecturer_record" method="POST">
               <label for="lecturerid">Lecturer ID:</label>
               <input type="text" id="lecturerid" name="lecturerid">
               <label for="lecturerName">Lecturer Name:</label>
               <input type="text" id="lecturerName" name="lecturerName">
               <label for="dateOfBirth">Date of Birth:</label>
               <input type="date" id="dateOfBirth" name="dateOfBirth">
               <label for="gender">Gender:</label>
               <select id="gender" name="gender">
                  <option value="M">Male</option>
                  <option value="F">Female</option>
               </select>
               <label for="address">Address:</label>
               <input type="text" id="address" name="address">
               <label for="email">Email:</label>
               <input type="email" id="email" name="email">
               <label for="phoneNumber">Phone Number:</label>
               <input type="tel" id="phoneNumber" name="phoneNumber">
              
               <label for="faculty">Faculty:</label>
               <select id="faculty" name="faculty">
                  <option value="">--  --</option>
                  {% for r in l_faculty %}
                  <option value="{{r}}" >{{r}}</option>
                  {%endfor%}
               </select>
               <input type="submit" value="Search">
            </form>
         </div>
         <div style="float: right;width: 10%;">
            <a class="back-button" href="{{ url_for('admin_home') }}" >Home</a>
         </div>
         {%if Message %}
         <div class="alert">{{ Message}}</div>
         {%endif%}
         <div id="add-st-form" style="display: none; position: fixed; top: 160px; text-rendering: auto;" method="post">
            <form action="{{url_for('input_lecturer')}}" method="post">
               <label for="lecturerid">LecturerID</label>
               <input type="text" id="lecturerid" name="lecturerid" value="{{lt_id}}" readonly>
               <label for="name">Full name</label>
               <input type="text" name="name" id="name">
               <label for="email">Email</label>
               <input type="email" name="email" id="email">
               <label for="dob">Date of Birth</label>
               <input type="date" id="dob" name="dob">
               <label for="gender">Gender</label>
               <select name="gender" id="gender">
                  <option value=""></option>
                  <option value="M">Male</option>
                  <option value="F">Female</option>
               </select>

               <label for="faculty">Faculty</label>
               <select name="faculty" id="faculty">
                    {% for r in l_faculty %}
                  <option value="{{r}}" >{{r}}</option>
                  {%endfor%}
               </select>

               <input type="submit" value="Submit">
            </form>
         </div>
      </div>
      <div>
         <button onclick="showSTform()" >Add lecturer</button>
         <script>
            function showSTform(){
                document.getElementById('add-st-form').style.display="block";
            }
         </script>
         <button onclick="showDeleteForm()">Delete lecturer</button>
         <div id="delete-form" style="display:none;">
            <form id="delete-form" action="{{ url_for('delete_lecturer')}}" method="post">
               <label for="lecturerid">Lecturer ID:</label>
               <input type="text" id="lecturerid" name="lecturerid">
               <button type="submit" onclick="return confirmDelete()">Delete</button>
            </form>
         </div>
         <!-- JavaScript code to handle the button and form -->
         <script>
            function showDeleteForm() {
                document.getElementById("delete-form").style.display = "block";
            }
            
            function confirmDelete() {
                var lecturerid = document.getElementById("lecturerid").value;
                var confirmed = confirm("Are you sure you want to delete lecturer " + lecturerid + "?");
                return confirmed;
            }
         </script>
         {% if st_list %}
         <button onclick="downloadLecturers()">Download</button>
         <script>
            function downloadLecturers() {
                if (confirm("Are you sure you want to download lecturers data?")) {
                window.location.href = "/download_lecturer_search"
                }
            }
         </script>
         {%endif%}
      </div>
      <div style="  height: 500px; overflow-y: scroll; padding-right: 20px; ">
         <h1>List of Lecturer</h1>
         <table>
            <tr>
               <th>ID</th>
               <th>Name</th>
               <th>Date of birth</th>
               <th>Gender</th>
               <th>Address</th>
               <th>Email</th>
               <th>Phone Number</th>
               <th>Faculty ID</th>
            </tr>
            {% for lecturer in lt_list %}
            <tr>
               <td>{{ lecturer['lecturerID'] }}</td>
               <td>{{ lecturer['name'] }}</td>
               <td>{{ lecturer['dateOfBirth'] }}</td>
               <td>{{ lecturer['gender'] }}</td>
               <td>{{ lecturer['address'] }}</td>
               <td>{{ lecturer['email'] }}</td>
               <td>{{ lecturer['phoneNumber'] }}</td>
               <td>{{ lecturer['facultyID'] }}</td>
            </tr>
            {% endfor %}
         </table>
      </div>
   </body>
</html>